* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

#fundo_titulo {
    display: flex;
    background-color: green;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 10px 5px rgb(7, 58, 7);
}

#carrinho-brecho {
    margin-left: 1000px;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px 0;
    height: auto;
    text-decoration: none;
    font-size: 35px;
}

#titulo_brecho {
    text-align: left;
    margin: 20px;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 35px;
}

#produtos-titulo {
    text-align: center;
    text-decoration: none;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    text-decoration: none;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.produto img {
    width: 100%;
}

.top-card {
    width: 100%;
    height: 15%;
}

.mid-card {
    width: 100%;
    height: 50%;
}

.bottom-card {
    width: 100%;
    height: 35%;
}

.imagem {
    text-decoration: none;
    width: 200px;
    height: auto;
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.produto h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #4CAF50;
    text-decoration: none;
}

.produto p {
    font-size: 20px;
    margin-bottom: 15px;
    color: #666;
    text-decoration: none;
}

.produto button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.produto button:hover {
    background-color: #45a049;
}

.sobre-nos {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sobre-nos h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #4CAF50;
    text-align: center;
}

.sobre-nos p {
    font-size: 25px;
    text-align: justify;
    margin-bottom: 20px;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 20px;
}

#rodape {
    color: #fff;
    text-align: center;
}